/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/vendor
public/user_assets/scss/_variables.scss
public/user_assets/scss/app.scss
public/user_assets/scss/bootstrap.scss
public/user_assets/scss/icons.scss
public/user_assets/scss/custom/components/_accordions.scss
public/user_assets/scss/custom/components/_backgrounds.scss
public/user_assets/scss/custom/components/_badge.scss
public/user_assets/scss/custom/components/_breadcrumb.scss
public/user_assets/scss/custom/components/_buttons.scss
public/user_assets/scss/custom/components/_card.scss
public/user_assets/scss/custom/components/_custom-checkbox.scss
public/user_assets/scss/custom/components/_custom-radio.scss
public/user_assets/scss/custom/components/_dropdown.scss
public/user_assets/scss/custom/components/_forms.scss
public/user_assets/scss/custom/components/_helper.scss
public/user_assets/scss/custom/components/_modal.scss
public/user_assets/scss/custom/components/_nav.scss
public/user_assets/scss/custom/components/_pagination.scss
public/user_assets/scss/custom/components/_popover.scss
public/user_assets/scss/custom/components/_preloader.scss
public/user_assets/scss/custom/components/_print.scss
public/user_assets/scss/custom/components/_progress.scss
public/user_assets/scss/custom/components/_reboot.scss
public/user_assets/scss/custom/components/_ribbons.scss
public/user_assets/scss/custom/components/_social.scss
public/user_assets/scss/custom/components/_tables.scss
public/user_assets/scss/custom/components/_type.scss
public/user_assets/scss/custom/components/_widgets.scss
public/user_assets/scss/custom/fonts/_fonts.scss
public/user_assets/scss/custom/pages/_authentication.scss
public/user_assets/scss/custom/pages/_coming-soon.scss
public/user_assets/scss/custom/pages/_components-demo.scss
public/user_assets/scss/custom/pages/_ecommerce.scss
public/user_assets/scss/custom/pages/_email.scss
public/user_assets/scss/custom/pages/_error.scss
public/user_assets/scss/custom/pages/_faq.scss
public/user_assets/scss/custom/pages/_gallery.scss
public/user_assets/scss/custom/pages/_logout.scss
public/user_assets/scss/custom/pages/_maintenance.scss
public/user_assets/scss/custom/pages/_pricing.scss
public/user_assets/scss/custom/pages/_profile.scss
public/user_assets/scss/custom/pages/_search-results.scss
public/user_assets/scss/custom/pages/_sitemap.scss
public/user_assets/scss/custom/pages/_taskboard.scss
public/user_assets/scss/custom/pages/_timeline.scss
public/user_assets/scss/custom/plugins/_autocomplete.scss
public/user_assets/scss/custom/plugins/_bootstrap-select.scss
public/user_assets/scss/custom/plugins/_bootstrap-tables.scss
public/user_assets/scss/custom/plugins/_bootstrap-touchspin.scss
public/user_assets/scss/custom/plugins/_c3.scss
public/user_assets/scss/custom/plugins/_calendar.scss
public/user_assets/scss/custom/plugins/_chartist.scss
public/user_assets/scss/custom/plugins/_chartjs.scss
public/user_assets/scss/custom/plugins/_clockpicker.scss
public/user_assets/scss/custom/plugins/_cropper.scss
public/user_assets/scss/custom/plugins/_custom-select.scss
public/user_assets/scss/custom/plugins/_datatable.scss
public/user_assets/scss/custom/plugins/_daterange.scss
public/user_assets/scss/custom/plugins/_dropify.scss
public/user_assets/scss/custom/plugins/_dropzone.scss
public/user_assets/scss/custom/plugins/_flatpickr.scss
public/user_assets/scss/custom/plugins/_flot.scss
public/user_assets/scss/custom/plugins/_footables.scss
public/user_assets/scss/custom/plugins/_form-wizard.scss
public/user_assets/scss/custom/plugins/_google-maps.scss
public/user_assets/scss/custom/plugins/_hopscotch.scss
public/user_assets/scss/custom/plugins/_icons.scss
public/user_assets/scss/custom/plugins/_ion-rangeslider.scss
public/user_assets/scss/custom/plugins/_jsgrid.scss
public/user_assets/scss/custom/plugins/_mapeal-maps.scss
public/user_assets/scss/custom/plugins/_morris.scss
public/user_assets/scss/custom/plugins/_multiple-select.scss
public/user_assets/scss/custom/plugins/_nestable-list.scss
public/user_assets/scss/custom/plugins/_parsley.scss
public/user_assets/scss/custom/plugins/_quilljs-editor.scss
public/user_assets/scss/custom/plugins/_responsive-table.scss
public/user_assets/scss/custom/plugins/_ricksaw.scss
public/user_assets/scss/custom/plugins/_select2.scss
public/user_assets/scss/custom/plugins/_slimscroll.scss
public/user_assets/scss/custom/plugins/_sparkline-chart.scss
public/user_assets/scss/custom/plugins/_summernote.scss
public/user_assets/scss/custom/plugins/_sweetalert.scss
public/user_assets/scss/custom/plugins/_tablesaw.scss
public/user_assets/scss/custom/plugins/_tippy.scss
public/user_assets/scss/custom/plugins/_toaster.scss
public/user_assets/scss/custom/plugins/_vector-maps.scss
public/user_assets/scss/custom/plugins/_waves.scss
public/user_assets/scss/custom/plugins/_x-editable.scss
public/user_assets/scss/custom/plugins/icons/_dripicons.scss
public/user_assets/scss/custom/plugins/icons/_feather.scss
public/user_assets/scss/custom/plugins/icons/_fontawesome-all.scss
public/user_assets/scss/custom/plugins/icons/_materialdesignicons.scss
public/user_assets/scss/custom/plugins/icons/_simple-line-icons.scss
public/user_assets/scss/custom/plugins/icons/_themify-icons.scss
public/user_assets/scss/custom/plugins/icons/_weather-icons.scss
public/user_assets/scss/custom/structure/_footer.scss
public/user_assets/scss/custom/structure/_general.scss
public/user_assets/scss/custom/structure/_horizontal-nav.scss
public/user_assets/scss/custom/structure/_page-head.scss
public/user_assets/scss/custom/structure/_right-sidebar.scss
public/user_assets/scss/custom/structure/_topbar.scss
public/user_assets/scss/vendor/_metisMenu.scss
resources/assets/sass/app.scss
resources/assets/sass/app.scss
resources/assets/sass/app.scss
public/erp_assets/rangeslider-2.3.0/.DS_Store
