/* CSS styles only mean as placeholders.
 Front end team will decide how the final product will look */
body,html
{
    background-image: url(bg/bg_1.jpg);
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.bg-layer {
   background-color: rgba(0, 0, 0, 0.45);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     position: absolute;
     /*margin-top: -25vh;*/
     min-height: 100vh;
}

form.jumbotron{
    top:20%;
    right: 0px;
    margin: 0px auto;   
    width: 400px;
    position: relative; 
    background-color: rgba(24, 26, 27, 0.04);
    box-shadow: rgba(0, 0, 0, 0.75) -1px 4px 28px 0px;
    border-radius: 0px;
}

#userLogSection{
    color: white;
    font-size: 26px;
}

button
{
    opacity: 0.9;
    width: 100%;
    font-size: 18px;
    border-radius: 0px;
    font-family: 'Hind', sans-serif;
}

#txtsignup{
    text-align: center  !important;
}

.form-control {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: none;
    opacity: 0.7;
    color: white;
    margin-top: 15px;
    margin-bottom:15px;
}

#alertMessage {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.9;
    color: red;
    font-size: 15px;
}

.heading-avatar-icon{
  text-align: center !important;
  height: 50px;
  width: 225px;
  /*margin-left: 35%;*/
}

@media(max-width: 575px){
    .bg-layer {
       background-color: rgba(0, 0, 0, 0.7);
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
         position: absolute;
         /*margin-top: -25vh;*/
         min-height: 100vh;
    }
}

@media(max-width: 400px){
   .bg-layer {
       background-color: rgba(0, 0, 0, 0.7);
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
         position: absolute;
         /*margin-top: -25vh;*/
         min-height: 100vh;
    }
  }
